---
import Tooltip from "../ui/Tooltip.astro";
import Copy from "../ui/icon/Copy.astro";
import Github from "../ui/icon/Github.astro";
import X from "../ui/icon/X.astro";
import { styles } from "./Share.css";
import { clsx } from "clsx";

interface Props {
  url: string;
  title: string;
  source: string;
}

const { url, title, source } = Astro.props;

const getShareXUrl = (title: string) => {
  return `https://x.com/intent/tweet?text=${encodeURIComponent(
    `${title}\n`,
  )}&url=${encodeURIComponent(url)}`;
};
---

<div class={clsx(styles.links, styles.onlyPC)}>
  <Tooltip text="Copy">
    <button
      class={styles.btn}
      onclick="navigator.clipboard.writeText(window.location.href)"
      aria-label="リンクをコピーする"
    >
      <Copy exClass={styles.icon} />
    </button>
  </Tooltip>
  <Tooltip text="Source">
    <a class={styles.btn} href={source} aria-label="ソースを開く">
      <Github exClass={styles.icon} />
    </a>
  </Tooltip>
  <Tooltip text="Share X">
    <a
      class={styles.btn}
      href={getShareXUrl(title)}
      aria-label="X でシェアする"
    >
      <X exClass={styles.icon} />
    </a>
  </Tooltip>
</div>
