---
import { Image } from "astro:assets";
import { styles } from "./NameCard.css";
import Icon from "./icon.webp";
import X from "@/components/ui/icon/X.astro";
import Github from "@/components/ui/icon/Github.astro";

interface Props {
  title: string;
  subtitle: string;
  socials: {
    github: string;
    x: string;
  };
}

const { title, subtitle, socials } = Astro.props;
---

<div class={styles.container}>
  <Image src={Icon} width={128} height={128} alt="icon" class={styles.image} />
  <div class={styles.info}>
    <div>
      <h3 class={styles.title}>{title}</h3>
      <p class={styles.subtitle}>{subtitle}</p>
    </div>
    <div class={styles.socials}>
      <a href={socials.github} target="_blank" rel="noopener noreferrer">
        <Github exClass={styles.social} />
      </a>
      <a href={socials.x} target="_blank" rel="noopener noreferrer">
        <X exClass={styles.social} />
      </a>
    </div>
  </div>
</div>
