---
import "@/styles/global.css";
import { ViewTransitions } from "astro:transitions";
import { styles } from "./Base.css";
import Navigation from "./Navigation.astro";
import RightTopArea from "./RightTopArea.astro";
import { SITE_NAME, SITE_DESCRIPTION, SITE_BASE_URL } from "@/config";

interface Props {
  title?: string;
  description?: string;
  canonical: `/${string}`;
}

const { title, description, canonical } = Astro.props;

const getTitle = (title?: string) => {
  if (title) {
    return `${title} | ${SITE_NAME}`;
  }
  return SITE_NAME;
};

const getOgImage = (title?: string) => {
  return `https://monica-dev.com/api/ogp?title=${title || SITE_NAME}`;
};
---

<html lang="ja" class="light">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{getTitle(title)}</title>
    <meta name="description" content={description || SITE_DESCRIPTION} />

    <meta property="og:title" content={getTitle(title)} />
    <meta property="og:description" content={description || SITE_DESCRIPTION} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={SITE_BASE_URL + canonical} />
    <meta property="og:image" content={getOgImage(title)} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@sor4chi" />
    <meta name="twitter:title" content={getTitle(title)} />
    <meta
      name="twitter:description"
      content={description || SITE_DESCRIPTION}
    />
    <meta name="twitter:image" content={getOgImage(title)} />
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" />
    <link rel="canonical" href={SITE_BASE_URL + canonical} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <script src="/scripts/theme.js" is:inline></script>
    <ViewTransitions />
  </head>
  <body>
    <RightTopArea />
    <main class={styles.container}>
      <slot />
    </main>
    <Navigation />
  </body>
</html>
