---
import "@/styles/global.css";
import { ViewTransitions } from "astro:transitions";
import { styles } from "./Base.css";
import Navigation from "./Navigation.astro";
import RightTopArea from "./RightTopArea.astro";
import { SITE_NAME, SITE_DESCRIPTION, SITE_BASE_URL } from "@/config";

interface Props {
  title?: string;
  description?: string;
  canonical: `/${string}`;
  ogImageUrl?: string;
}

const { title, description, canonical, ogImageUrl } = Astro.props;

const getTitle = (title?: string) => {
  if (title) {
    return `${title} | ${SITE_NAME}`;
  }
  return SITE_NAME;
};

const finalOgImageUrl = ogImageUrl
  ? `${SITE_BASE_URL}${ogImageUrl}`
  : `${SITE_BASE_URL}/images/ogp/default.png`;
---

<html lang="ja" class="light">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{getTitle(title)}</title>
    <meta name="description" content={description || SITE_DESCRIPTION} />

    <meta property="og:title" content={getTitle(title)} />
    <meta property="og:description" content={description || SITE_DESCRIPTION} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={SITE_BASE_URL + canonical} />
    <meta property="og:image" content={finalOgImageUrl} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@sor4chi" />
    <meta name="twitter:title" content={getTitle(title)} />
    <meta
      name="twitter:description"
      content={description || SITE_DESCRIPTION}
    />
    <meta name="twitter:image" content={finalOgImageUrl} />
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" />
    <link rel="canonical" href={SITE_BASE_URL + canonical} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-EPLRRCMBLP"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-EPLRRCMBLP");
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Noto+Sans+JP:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <link href="/one-light.css" rel="stylesheet" />
    <link href="/one-dark.css" rel="stylesheet" />

    <script src="/scripts/theme.js" is:inline></script>
    <ViewTransitions />
  </head>
  <body>
    <RightTopArea />
    <main class={styles.container}>
      <slot />
    </main>
    <Navigation />
  </body>
</html>
