---
import Header from "@/components/document/Header.astro";
import Link from "@/components/ui/Link.astro";

import { styles } from "./Article.css";
import "katex/dist/katex.css";

interface Props {
  title: string;
  slug: string;
  publishedAt: Date;
  updatedAt?: Date;
  authors?: string[];
}

const { title, publishedAt, updatedAt, authors } = Astro.props;
---

<article id="article" class={styles.article}>
  <span class={styles.backLink}>
    <Link href="/blog">← Back</Link>
  </span>
  <Header
    title={title}
    createdAt={publishedAt}
    updatedAt={updatedAt}
    authors={authors}
  />
  <slot />
</article>
