---
import { styles } from "./Item.css";

interface Props {
  slug: string;
  title: string;
  url?: string;
}

const { slug, title, url } = Astro.props;

const getDomain = (url: string) => {
  const { hostname } = new URL(url);
  return hostname.replace(/^www\./, "");
};

const ICON_MAP = new Map<string, string>([
  ["zenn.dev", "https://static.zenn.studio/images/logo-transparent.png"],
  [
    "qiita.com",
    "https://cdn.qiita.com/assets/favicons/public/production-c620d3e403342b1022967ba5e3db1aaa.ico",
  ],
]);
---

<li>
  <a href={url || `/blogs/${slug}`} class={styles.item}>
    <h3 class={styles.title}>{title}</h3>
    {
      url && (
        <>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class={styles.arrow}
          >
            <>
              <line x1="7" y1="17" x2="17" y2="7" />
              <polyline points="7 7 17 7 17 17" />
            </>
          </svg>
          <span class={styles.domain}>
            {ICON_MAP.has(getDomain(url)) && (
              <img
                src={ICON_MAP.get(getDomain(url))}
                alt={getDomain(url)}
                width={16}
                height={16}
              />
            )}
            {getDomain(url)}
          </span>
        </>
      )
    }
  </a>
</li>
