---
import Link from "@/components/ui/Link.astro";
import { styles } from "./Article.css";
import { Image } from "astro:assets";
import "katex/dist/katex.css";

interface Props {
  title: string;
  slug: string;
  createdAt: Date;
}

const { slug, title, createdAt } = Astro.props;

const formatDateTime = (date: Date) => {
  return date.toLocaleDateString("en-US", {
    day: "numeric",
    month: "long",
    year: "numeric",
  });
};
---

<article id="article" class={styles.article}>
  <span class={styles.backLink}>
    <Link href="/works">← Back</Link>
  </span>
  <h1 class={styles.title}>{title}</h1>
  <p class={styles.meta}>
    <time datetime={createdAt.toISOString()} class={styles.date}>
      {formatDateTime(createdAt)}
    </time>
  </p>
  <Image
    width={640}
    height={336}
    src={`/images/works/${slug}/hero-640.webp`}
    alt={title}
    class={styles.heroImage}
    transition:name={`works-hero-${slug}`}
  />
  <div class={styles.contents}>
    <slot />
  </div>
</article>

<link href="/one-light.css" rel="stylesheet" />
<link href="/one-dark.css" rel="stylesheet" />
