---
import { styles } from "./Item.css";
import { Image } from "astro:assets";

interface Props {
  slug: string;
  title: string;
  description: string;
}

const { slug, title, description } = Astro.props;
---

<li>
  <a href={`/works/${slug}`} class={styles.item}>
    <!-- For View Transition, have to use same size image with hero image -->
    <Image
      width={120}
      height={63}
      src={`/images/works/${slug}/hero-640.webp`}
      alt={title}
      transition:name={`works-hero-${slug}`}
      class={styles.thumbnail}
    />
    <span class={styles.content}>
      <h2 class={styles.title}>{title}</h2>
      <p class={styles.description}>{description}</p>
    </span>
  </a>
</li>
