---
import Link from "@/components/ui/Link.astro";
import { styles } from "./Article.css";
import { Image } from "astro:assets";
import Header from "@/components/document/Header.astro";
import "katex/dist/katex.css";

interface Props {
  title: string;
  slug: string;
  createdAt: Date;
  authors?: string[];
}

const { slug, title, createdAt, authors } = Astro.props;
---

<article id="article" class={styles.article}>
  <span class={styles.backLink}>
    <Link href="/work">← Back</Link>
  </span>
  <Header title={title} createdAt={createdAt} authors={authors} />
  <Image
    width={800}
    height={420}
    src={`/images/works/${slug}/hero-800.webp`}
    alt={title}
    class={styles.heroImage}
    loading="eager"
  />
  <slot />
</article>
