---
import Share from "@/components/document/Share.astro";
import Toc from "@/components/document/Toc.astro";
import Line from "@/components/ui/Line.astro";
import type { MarkdownHeading } from "astro";
import { styles } from "./Left.css";

interface Props {
  shareTitle: string;
  headings: MarkdownHeading[];
  source: string;
}

const { headings, shareTitle, source } = Astro.props;
---

<div class={styles.container}>
  {headings.length > 0 && <Toc headings={headings} />}
  <div class={styles.notPC}>
    {headings.length > 0 && <Line />}
    <Share
      title={shareTitle}
      pathname={Astro.url.pathname}
      source={source}
      flex
    />
  </div>
</div>
