---
import { Image } from "astro:assets";

import { clsx } from "clsx";

import { styles } from "./Item.css";

interface Props {
  title: string;
  date: Date;
  icon?: string;
  link?: string;
}

const { title, date, icon, link } = Astro.props;
---

<tr class={styles.row}>
  <td class={clsx(styles.dateCol, styles.col)}>
    <time
      datetime={date.toISOString()}
      class={clsx(styles.date, styles.desktopDate)}
    >
      {
        date.toLocaleDateString("en-US", {
          year: "numeric",
          month: "short",
        })
      }
    </time>
  </td>
  <td class={clsx(styles.iconCol, styles.col)}>
    <div class={styles.pointContainer}>
      {
        icon ? (
          <a
            href={link}
            target="_blank"
            rel="noopener noreferrer"
            class={styles.iconLink}
          >
            <Image
              width={48}
              height={48}
              src={icon}
              alt={title}
              class={styles.icon}
            />
          </a>
        ) : (
          <span class={styles.dot} />
        )
      }
    </div>
    <span class={styles.line}></span>
  </td>
  <td class={styles.col}>
    <span class={styles.titleWrapper}>
      <strong class={styles.title}>{title}</strong>
      <time
        datetime={date.toISOString()}
        class={clsx(styles.date, styles.mobileDate)}
      >
        {
          date.toLocaleDateString("en-US", {
            year: "numeric",
            month: "short",
          })
        }
      </time>
    </span>
    {
      Astro.slots.has("default") && (
        <div class={styles.content}>
          <slot />
        </div>
      )
    }
  </td>
</tr>
