---
import { Image } from "astro:assets";

import Github from "@/components/ui/icon/Github.astro";
import X from "@/components/ui/icon/X.astro";
import Tooltip from "@/components/ui/Tooltip.astro";

import { styles } from "./NameCard.css";

interface Props {
  title: string;
  subtitle: string;
  socials: {
    github: string;
    x: string;
  };
}

const { title, subtitle, socials } = Astro.props;
---

<div class={styles.container}>
  <img
    src="/assets/icon.webp"
    width={64}
    height={64}
    alt="icon"
    class={styles.image}
  />
  <div class={styles.info}>
    <div>
      <h1 class={styles.title}>{title}</h1>
      <p class={styles.subtitle}>{subtitle}</p>
    </div>
    <div class={styles.socials}>
      <Tooltip text="Github">
        <a
          href={socials.github}
          target="_blank"
          rel="noopener noreferrer"
          class={styles.socialLink}
          aria-label="Github を開く"
        >
          <Github exClass={styles.social} />
        </a>
      </Tooltip>
      <Tooltip text="Twitter">
        <a
          href={socials.x}
          target="_blank"
          rel="noopener noreferrer"
          class={styles.socialLink}
          aria-label="Twitter / X を開く"
        >
          <X exClass={styles.social} />
        </a>
      </Tooltip>
    </div>
  </div>
</div>
