---
import { Image } from "astro:assets";

import { styles } from "./List.css";
interface Props {
	items: {
		slug: string;
		title: string;
		description: string;
	}[];
}

const { items } = Astro.props;
const animationDelay = 0.1;
---

<div class={styles.container} transition:persist>
  {
    items.map(({ slug, title, description }, i) => (
      <a
        href={`/work/${slug}`}
        class={styles.item}
        style={{
          animationDelay: `${animationDelay * i}s`,
        }}
      >
        <Image
          width={320}
          height={168}
          src={`/assets/works/${slug}/hero-640.webp`}
          alt={title}
          class={styles.thumbnail}
        />
        <span class={styles.content}>
          <strong class={styles.title}>{title}</strong>
          <p class={styles.description}>{description}</p>
        </span>
      </a>
    ))
  }
</div>
