---
import { clsx } from "clsx";
import { styles } from "./Item.css";
import { Image } from "astro:assets";

interface Props {
  slug: string;
  title: string;
  date: Date;
  icon?: string;
  link?: string;
}

const { slug, title, date, icon, link } = Astro.props;
---

<tr class={styles.row}>
  <td class={clsx(styles.dateCol, styles.col)}>
    <time
      datetime={date.toISOString()}
      class={clsx(styles.date, styles.desktopDate)}
    >
      {
        date.toLocaleDateString("en-US", {
          year: "numeric",
          month: "short",
        })
      }
    </time>
  </td>
  <td class={clsx(styles.iconCol, styles.col)}>
    <a
      href={link}
      target="_blank"
      rel="noopener noreferrer"
      class={styles.iconLink}
    >
      {
        icon ? (
          <Image
            width={120}
            height={63}
            src={icon}
            alt={title}
            transition:name={`works-hero-${slug}`}
            class={styles.icon}
          />
        ) : (
          <span class={styles.icon}>
            <span class={styles.dot} />
          </span>
        )
      }
    </a>
  </td>
  <td class={styles.col}>
    <span class={styles.titleWrapper}>
      <h2 class={styles.title}>{title}</h2>
      <time
        datetime={date.toISOString()}
        class={clsx(styles.date, styles.mobileDate)}
      >
        {
          date.toLocaleDateString("en-US", {
            year: "numeric",
            month: "short",
          })
        }
      </time>
    </span>
    <slot />
  </td>
</tr>
